<div class="row posts" 
    infinite-scroll 
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()"
    >
        <div class="col-sm-12 row posts-content" *ngFor="let post of posts">
            <div class="col-sm-4 desc">
                <h1 class="title">
                    <span class="inline">{{post.title.split(' ')[0]}} </span>
                    {{post.title.substr(post.title.indexOf(' ') + 1)}}
                </h1>
                <div class="cont">
                    <p>{{post.description}}</p>
                </div>
            </div>
            <div class="col-sm-8 image" style="background-image: url('{{post.image}}');"></div>
        </div>
</div>