@font-face {
    font-family: "BROWNMR";
    src: local("BROWNMR"), url(./assets/fonts/BrownMedium-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "BROWNLR";
    src: local("BROWNLR"), url(./assets/fonts/BrownLight-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "MONOPOLYI";
    src: local("MONOPOLYI"), url(./assets/fonts/MONOPOLY_INLINE.ttf) format("truetype");
}

@font-face {
    font-family: "titlewv";
    src: local("titlewv"), url(./assets/fonts/titlewv.ttf) format("truetype");
}