<div class="content">
    <!-- MENU -->
    <div class="menuBar">
        <div class="menuBar-content">
            <div class="logo brown">logo</div>
            <div class="categorys brown">
                <div class="categorys-local flex">
                    <a routerLink="local">
                        <span>Local</span>
                    </a>
                </div>
                <div class="categorys-remote flex">
                    <a routerLink="remote">
                        <span>Remote</span>
                    </a>
                </div>
                <div class="categorys-remoteP flex">remote +</div>
            </div>
            <div class="login brown">login</div>
        </div>
    </div>
    <!-- END MENU -->

    <!-- POSTS -->
    <div class="col-sm-12 posts" style="width: 100%;">
        <router-outlet></router-outlet>
    </div>
    <!-- END POSTS -->

</div>