<div class="content">
    <!-- MENU -->
    <div class="menuBar">
        <div class="menuBar-content">
            <div class="logo brown">logo</div>
            <div class="categorys brown">
                <div class="categorys-local flex">local</div>
                <div class="categorys-remote flex">remote</div>
                <div class="categorys-remoteP flex">remote +</div>
            </div>
            <div class="login brown">login</div>
        </div>
    </div>
    <!-- END MENU -->

    <!-- POSTS -->
    <div class="row posts">
        <div class="col-sm-12 row posts-content">
            <div class="col-sm-4 desc">
                <h1 class="title">
                    <span class="inline">Title </span>
                    alguna descripcion secundaria
                </h1>
                <div class="cont">
                    <p>aqui va el contenido de los posts</p>
                </div>
            </div>
            <div class="col-sm-8 image"></div>
        </div>
    </div>
    <!-- END POSTS -->
</div>